p {
   color: red;  
   /* color: rgb(255,0,0);
   color: #FF0000;*/
   font-size: 20px;
   /*border: 2px solid white;*/
   border-width: 2px;
   border-style: solid;
   border-color:white;
}

body{
	/*background-color: blue;
	background-color: rgb(0,255,0);
	background-color: #0000FF;*/
	background:url("../images/background-image.jpg");
	background-size: cover;
}






